# P8 in a constant alarm
end_points:
  - name: "IO"
    url: "http://{{host_ip}}:{{host_port}}/config/io?auth={{hash}}"
    method: "POST"
    payload_encoder: "encode_io_name"
    payload: 
      - id: 0
        name: "F:SQ(2),ST:Pallet,NI:1"
      - id: 1
        name: ""
      - id: 2
        name: ""
