
end_points:
  - name: "IO"
    url: "http://{{host_ip}}:{{host_port}}/config/io?auth={{hash}}"
    method: "POST"
    payload_encoder: "encode_io_name"
    payload: 
      - id: 2
        name: "F:SQ(2),NOT,ST:Status"
      - id: 0
        name: "ST:Pallet,NI:1"
