end_points:
  - name: "Metadata"
    url: "http://{{host_ip}}:{{host_port}}/meta?auth={{hash}}"
    method: "POST"
    payload: 
      device_name:  "{{ controller }}"
      resource_id:  "{{ resource_id }}"
      device_class: "{{ device_class }}"

  - name: "DNS"
    url: "http://{{host_ip}}:{{host_port}}/system/dns?auth={{hash}}"
    method: "POST"
    payload:
      addresses: ["10.37.1.21","10.37.1.22"]

  - name: "SNTP"
    url: "http://{{host_ip}}:{{host_port}}/system/sntp?auth={{hash}}"
    method: "POST"
    payload:
      enabled: 1
      hostnames: ["10.37.1.21", "10.37.1.22"]

  - name: "PUSH"
    url: "http://{{host_ip}}:{{host_port}}/config/push?auth={{hash}}"
    method: "POST"
    payload:
      trg_type: "{{push_trg_type}}"
      keep_alive: {{push_keep_alive}}
      pckt_type: "tcp"
      ip:   "10.37.30.10"
      port: {{push_tcp_port}}

after_actions:
  - name: "Saving config"
    method: "POST"
    url: "http://{{host_ip}}:{{host_port}}/config/save?auth={{hash}}"
