# P8 in a constant alarm
end_points:
  - name: "IO"
    url: "http://{{host_ip}}:{{host_port}}/config/io?auth={{hash}}"
    method: "POST"
    payload_encoder: "encode_io_name"
    payload: 
      - id: 0
        name: "ST:Pallet,NI:2"
      - id: 1
        name: ""
      - id: 2
        name: ""
